__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/

# Extension
extension/node_modules/
extension/dist/
extension/dist.crx
extension/dist.pem

# Raycast extension
raycast-extension/node_modules/
raycast-extension/dist/
